[submodule "source/frontend"]
	path = source/frontend
	url = git@github.com:rederlyhq/frontend.git
[submodule "source/backend"]
	path = source/backend
	url = git@github.com:rederlyhq/backend.git
[submodule "source/renderer"]
	path = source/renderer
	url = git@github.com:rederlyhq/renderer.git
[submodule "source/library-browser"]
	path = source/library-browser
	url = git@github.com:rederlyhq/library-browser.git
[submodule "source/def-parser"]
	path = source/def-parser
	url = git@github.com:rederlyhq/def-parser.git
