[submodule "source/frontend"]
	path = source/frontend
	url = git@github.com:./frontend.git
[submodule "source/backend"]
	path = source/backend
	url = git@github.com:./backend.git
[submodule "source/renderer"]
	path = source/renderer
	url = git@github.com:./renderer.git
[submodule "source/library-browser"]
	path = source/library-browser
	url = git@github.com:./library-browser.git
[submodule "source/def-parser"]
	path = source/def-parser
	url = git@github.com:./def-parser.git
